
.container-fluid {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  nav {
    position: relative;
    background: #C4C4C4;

    ul {
      margin-top: 0;

      li {
        display: inline-block;
        img{
          width: 50px;
          height: 50px;
          padding-top: 0.5em;
        }
        a {
          display: inline-block;
          padding: 0.5em 1em;

          color: #f2f2f2;
          text-decoration: none;
          font-size: 17px;

        }

        a:hover {
          color: #707070;
        }

        a.active {
          color: #707070;
        }

      }
    }

  }

}
